<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Streaming Test</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
</head>
<body class="bg-gray-100 text-gray-800">
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">HTMX Streaming Test</h1>


        <!-- Testing Basic SSE HTMX -->
        <div>    Test List Streaming HTMX </div>
        <button 
                id="test-stream-btn" 
                hx-get="/get_test_stream"
                hx-swap="innerHTML"
                hx-target="#sse"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
            Test 
        </button>

        <div id="sse"></div>
        <div id="stream-content"></div>
        <!-- END - Testing Basic SSE HTMX -->

                <!-- Testing Incremental List HTMX -->
        <div> Test Mock List Stream HTMX </div>
        <button 
                id="test-stream-list-btn" 
                hx-get="/get_list_stream"
                hx-swap="innerHTML"
                hx-target="#sse-list"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
            Test 
        </button>

        <div id="sse-list"></div>
        <div id="stream-list"></div>
        <!-- Testing Incremental List HTMX -->

        <!-- Testing Basic Openai List SSE HTMX -->
            <div>Test OpenAI List Streaming</div>
        <button 
                id="test-stream-btn-openai" 
                hx-get="/get_openai_test_stream"
                hx-swap="innerHTML"
                hx-target="#sse-openai-list"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
            Test 
        </button>

        <div id="sse-openai-list"></div>
        <div id="stream-openai-list"></div>
        <!-- END -Testing Basic Openai List SSE HTMX -->



        <!-- Testing Basic GET Request With JS -->
            <div> Test Simple List Stream Response </div>
        <button 
            id="load-js-test-incremental"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
            Test
        </button>
        <div id="js-test-incremental-target"></div>
        <!-- END - Testing Basic GET Request With JS -->


        <!-- Testing Basic Form SSE HTMX -->
        <div> Test Mock Form Stream HTMX </div>
        <button 
                id="test-stream-form-btn" 
                hx-get="/get_form_stream"
                hx-swap="innerHTML"
                hx-target="#sse-form"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
            Test 
        </button>

        <div id="sse-form"></div>
        <div id="stream-form"></div>
        <!-- END -Testing Basic  Form SSE HTMX -->

    </div>

</body>



<script>

// Testing Basic GET Request With JS
document.getElementById("load-js-test-incremental").addEventListener("click", async () => {
    const res = await fetch("/test_incremental");
    const reader = res.body.getReader();
    const decoder = new TextDecoder();
    const container = document.getElementById("js-test-incremental-target");

    while (true) {
        const { done, value } = await reader.read();
        if (done) break;
        const html = decoder.decode(value, { stream: true });
        container.innerHTML = html;
    }
});

</script>

</html>
